<!-- <h4>{{beers.beer_name}}</h4>
<ul>
  {{#each beers.beer as |beer|}}
    {{beer-app beer=beer

                      }}
  {{/each}}
</ul>
<form {{action "submit" on="submit"}}>{{input placeholder="New Item"
                                        class="input-group form-control"
                                        value=form.content
                                      }}
<input type="submit">
</form> -->
