<!-- {{#link-to 'add-beer' beer}}
  <h2>{{beer.beer_name}}</h2>
{{/link-to}}

<button class="btn btn-xs btn-danger"
        {{action 'delete'}}>
        Delete
</button>



<! <button class="btn btn-xs btn-primary"
        {{action 'edit'}}>
        Edit
</button> -->
